@import "tailwindcss";

:root {
    --bg-color: #101411;
    --text: #F2F5F3;
    --primary: #5FED83;
    --secondary: #BFFFD1;
}

.heatmap-container text {
    font-size: 12px !important;
}

.heatmap-container svg {
    width: 100% !important
}